.responsiveContainer {
  display: flex;
}
@media (min-width: 1100px) {
  .profileLink {
    background-color: black;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    width: 80%;
    margin-right: 10%;

    margin-left: 10%;
    text-align: center;
  }
  .responsive1 {
    width: 72%;
  }
  .responsive2 {
    width: 28%;
  }
}
@media (max-width: 1100px) {
  .profileLink {
    background-color: black;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    width: 90%;
    margin-right: 5%;

    margin-left: 5%;
    min-width: 20rem;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .responsiveContainer {
    display: block;
  }
}
